.task-container {
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.add-task-container {
    margin: 15px 0;
    width: 100%;
    display: flex;
}

.add-task-input {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    flex: 2;
    background-color: #444; 
    color: #eee;
    font-size: 16px;
}

.button {
    background-color: cyan;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    border: none;    
}

.add-button-container {
    margin-left: 10px;
    flex: 1;
}

.task-title {
    cursor: pointer;
}

.remove-task-button {
    background-color: #444;
    border: none;
    font-size: 16px;
    color: cyan;
}

